.root_nav {
  background-color: #2745f0;
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  z-index: 1000;
}

.logcontainer_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 6.5rem 0 6rem;
}
.m-menu-nav_img img {
  object-fit: cover;
}
.menu {
  color: white;
  display: flex;
}
.common-menu:not(:last-of-type) {
  margin-right: 30px;
}
.menu .menu-item {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.m-menu-nav_img {
  margin-bottom: 0;
}
ul {
  line-height: 0;
  padding-left: 0;
  margin-bottom: 0;
}
.menu-item a {
  position: relative;
}
.menu-item:hover a:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  display: inline-block;
  background-color: #fff;
  border-radius: 25px;
}
.menu-item Link {
  cursor: pointer;
}
.menu-item_nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0.625rem;
}
.link_home_nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_link_font {
  font-size: 15px;
  font-weight: normal;
  color: #f4f7fb;
}
/* menu of dropping down content */
.dropdown_hp_content {
  z-index: 19;
  position: absolute;
  top: 164px;

  padding: 10px;

  display: none;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}
.menu-item_nav:hover {
  background-color: white;
  color: #2745f0;
  cursor: pointer;
}

/* .menu-item_nav:hover .dropbtn {
  color: #2745f0;
} */
.menu-item_nav:hover .dropdown_hp_content {
  display: block;
}
.dropdown_hp_content1 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
}

.dropdown_hp_content1 a:hover {
  text-decoration: none;
}

/* .dropdown_hp_content a {
  width: 250px;

  background-color: #f5faff;
  display: flex;

  gap: 10px;
  line-height: 20px;
  color: black;
  display: flex;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
}
.dropdown_hp_content a:hover {
  text-decoration: none;
  background: #dbeafa;
} */
.content-drop-home-nav {
  background-color: #f5faff;
  display: flex;
  gap: 1rem;
  padding: 20px;
  color: black;
}
.content-drop-home-nav:hover {
  background: #dbeafa;
}

/* .dropdown_hp_content div img,
p {
  margin-top: 10px;
  margin-left: 10px;
} */

.nav_search {
  position: relative;
  top: 20px;
  right: 130px;
  height: 20px;
  width: 30px;
}

@media screen and (max-width: 1000px) {
  .root_nav {
    position: fixed;

    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
  }
  .logcontainer_nav .m-menu {
    display: block;
  }

  .menu {
    display: none;
  }
  .logcontainer_nav img {
  }
}

.m-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.m-menu__backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 500ms ease-out;
  pointer-events: none;
}

.m-menu__burger {
  z-index: 2;
  margin-left: 10px;
  width: 4rem;
  height: 4rem;

  padding: 0.6rem 0.4rem;
}

.m-menu__burger span,
.m-menu__burger span::before,
.m-menu__burger span::after {
  content: "";
  display: block;
  width: 1.8rem;
  height: 0.25rem;
  position: absolute;

  margin-top: 1.2rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.3rem;
}

.m-menu__burger span::before {
  margin-top: -0.5rem;
}

.m-menu__burger span::after {
  margin-top: 0.5rem;
}

.m-menu__toggle {
  z-index: 3;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 0.75rem;
  left: 0.75rem;
  cursor: pointer;
  opacity: 0;
  outline: 1px solid black;
  pointer-events: all;
}

.m-menu__content {
  z-index: 4;

  position: absolute;
  top: 0;
  left: 0px;

  width: 40%;
  height: 100vh;
  margin: 0;
  padding: 0 0 2rem 0;
  background-color: #2745f0;
  color: white;
  transform-origin: 0 0;
  transform: translateX(-40rem);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  pointer-events: all;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.m-menu__content nav {
  width: 40%;
}

.m-menu__content nav h3 {
  padding: 15px 30px;
}

.categories_nav_mob {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.categories_nav_mob #link_cat_nav_mob {
  width: 100%;
  margin-left: 0px;
  text-align: left;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
}

.categories_nav_mob #link_cat_nav_mob span {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

.m-menu__toggle:checked {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.m-menu__toggle:checked ~ .m-menu__content {
  transform: none;
}

.m-menu__toggle:checked ~ .m-menu__backdrop {
  opacity: 1;
}
/* .logout-container {
  margin-top: 20%;
  left: 100%;
} */
.logout-container1 {
  height: 10rem !important;
  width: 350px;
  padding: 10px;
  position: absolute;
  z-index: 30;
  background-color: white;
  top: 7rem;
  left: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #666666;
}
@media screen and (max-width: 1300px) {
  .menu {
    margin-left: 5vw;
  }
}

@media screen and (max-width: 600px) {
  .m-menu__content {
    width: 75%;
  }
  .m-menu__content nav {
    width: 75%;
    padding-top: 50px;
  }
  .logcontainer_nav a {
    margin-bottom: 0;
  }
  #categories_m-menu {
    font-size: 2rem;
  }
  .categories_nav_mob #link_cat_nav_mob {
    font-size: 1.25rem;
  }
  /* .logout-container {
    margin-top: 30%;
    left: 40%;
  } */
  #logout_cont {
    width: 70vw;
  }
  .logout-container1 {
    margin-top: 30%;
    left: 20%;
    width: 70%;
  }
}

@media screen and (max-width: 1128px) {
  .dropdown_hp_content {
    top: 192px;
  }
}
