.root_nav {
  background-color: #2745f0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logcontainer_nav {
  margin-left: 6vw;
  display: flex;
  justify-content: space-between;
  width: 86%;
}
.logcontainer_nav img {
  object-fit: cover;
}
.menu {
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
}
.menu .menu-item {
  height: 100%;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item:hover {
  text-decoration: underline;
}
.menu-item Link {
  cursor: pointer;
}
.menu-item_nav {
  height: 100%;
  margin-left: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dropbtn {
  border: none;
  color: white;

  background-color: rgba(182, 62, 41, 0);
}
.dropdown_hp_content {
  z-index: 1;
  position: absolute;
  top: 15.8%;
  left: 20;

  width: 540px;
  height: 275px;
  display: none;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
}
.menu-item_nav:hover {
  background-color: white;
}
.menu-item_nav:hover .dropbtn {
  color: #2745f0;
}
.menu-item_nav:hover .dropdown_hp_content {
  display: block;
}
.dropdown_hp_content1 {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  display: inline-grid;
  grid-template-columns: auto auto;
}
.dropdown_hp_content1 a:hover {
  text-decoration: none;
  color: #2745f0;
}
.dropdown_hp_content a {
  width: 250px;
  height: 45px;
  background-color: #f5faff;

  margin-left: 10px;
  line-height: 20px;
  color: black;
  display: flex;
}
.dropdown_hp_content a img,
p {
  margin-top: 10px;
  margin-left: 10px;
}
.nav_search {
  position: relative;
  top: 20px;
  right: 130px;
  height: 20px;
  width: 30px;
}

@media screen and (max-width: 1000px) {
  .root_nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
  }
  .logcontainer_nav .m-menu {
    display: block;
  }

  .menu {
    display: none;
  }
  .logcontainer_nav img {
    margin-left: 15vw;
  }
}

.m-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.m-menu__backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 500ms ease-out;
  pointer-events: none;
}

.m-menu__burger {
  z-index: 2;
  margin-left: 10px;
  width: 4rem;
  height: 4rem;

  padding: 0.6rem 0.4rem;
}

.m-menu__burger span,
.m-menu__burger span::before,
.m-menu__burger span::after {
  content: "";
  display: block;
  width: 1.8rem;
  height: 0.25rem;
  position: absolute;

  margin-top: 1.2rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 0.3rem;
}

.m-menu__burger span::before {
  margin-top: -0.5rem;
}

.m-menu__burger span::after {
  margin-top: 0.5rem;
}

.m-menu__toggle {
  z-index: 3;
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 1.1rem;
  left: 1.1rem;
  cursor: pointer;
  opacity: 0;
  outline: 1px solid black;
  pointer-events: all;
}

.m-menu__content {
  z-index: 4;

  position: absolute;
  top: 0;
  left: -30px;
  overflow: auto;
  width: 40%;
  height: 100vh;
  margin: 0;
  padding: 0 0 2rem 0;
  background-color: #2745f0;
  color: white;
  transform-origin: 0 0;
  transform: translateX(-23rem);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  pointer-events: all;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.75);
}

.m-menu__content nav {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.categories_nav_mob {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.categories_nav_mob #link_cat_nav_mob {
  width: 100%;
  margin-left: 0px;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}

.m-menu__toggle:checked {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.m-menu__toggle:checked ~ .m-menu__content {
  transform: none;
}

.m-menu__toggle:checked ~ .m-menu__backdrop {
  opacity: 1;
}

@media screen and (max-width: 1300px) {
  .menu {
    margin-left: 5vw;
  }
}
