.hospital_main_cont {
  z-index: -1;

  width: 100%;
}
.hospital_booking {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hospital_carousel_main {
  width: 100%;
}
.hospital_carousel {
  width: 100%;

  height: 530px;
}
.hospital_carousel {
  width: 100%;
  height: 100%;
}
.hospitalbook_img {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 1%;
  display: flex;
  justify-content: space-between;
}
.hospcont_desc {
  margin-top: 10%;
}

.hospcont_desc h1 {
  text-align: left;
  font-weight: bold;
  font-size: 55px;
}

.hospcont_desc p {
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  color: #596579;
}

.hospitalbook_img img {
  width: 50%;
  height: 400px;
}

.hospital_bookcont {
  width: 80%;

  justify-content: center;
  align-items: center;
}
.hospital_bookcont_from_user {
  width: 80%;
  margin-left: 245px;
  margin-top: 10%;
}

.hospital_bookconthead {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hospital_bookconthead div {
  float: right;
}

.hospital_bookconthead h2 {
  font-weight: bolder;
}

.hospital_booksearch {
  width: 15rem;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #d0d7e2;
  float: left;
  width: 100%;
  background: #e6eaf0;
  border-radius: 15px;
}

.hosp_srch {
  margin-left: -50px;
  margin-top: -3px;
  float: left;
  width: 4%;
  padding: 10px;
  background: none;
  color: #2745f0;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

form.example button:hover {
  color: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* hospital card here 
asasdas*/
.hospital_book_card {
  margin: auto;
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vw;
}

.hospital_book_card1 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #f5faff;
  border: 1px solid #d0d7e2;

  border-radius: 10px;
}

.hospital_book_card1 img {
  width: 200px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.hospital_card_text {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 20px;
}
.hospital_card_text h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.hospital_card_text p2 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #596579;
}

#hosp_card_but {
  width: 200px;
  height: 40px;
  margin-top: 23%;

  border: 1px solid #2745f0;
  color: #2745f0;
  background: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  transition: 0.5s;
}
#hosp_card_but_user {
  width: 155px;
  height: 40px;
  margin-top: 22%;

  border: 1px solid #2745f0;
  color: #2745f0;
  /* background: rgb(7, 6, 6); */
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  transition: 0.5s;
}
#hosp_card_but_user:hover {
  background: #2745f0;
  color: white;
}
#hosp_card_but:hover {
  background: #2745f0;
  color: white;
}
/* .hospital_bookcont_from_user .pagination_hosp {
  margin-top: 30%;
} */
.pagination_hosp {
  margin-top: 10%;
  height: 100px;
}

/* responsive design query */

@media only screen and (max-width: 600px) {
  .hospitalbook_img {
    flex-direction: column;
  }
  .hospitalbook_img img {
    width: 80%;
  }
  .hello_input::placeholder {
    font-size: 2.5vw;
  }
  .hosp_srch {
    margin-top: 2px;
    font-size: 15px;
    margin-left: -30px;
  }
  .hospital_booksearch {
    width: 300px;
  }
  .hospital_book_card {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  .hospital_book_card1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hospital_book_card1 img {
    width: 80%;
  }
  .hospital_card_text {
    margin-top: 20px;
    text-align: center;
    padding: 0px;
  }
  .hospital_card_text p2 {
    margin-top: -10px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1496px) {
  .hospital_bookcont_from_user {
    width: 80%;
  }
  .hospital_book_card {
    display: flex;
    flex-direction: column;
  }

  #hosp_card_but_user {
    margin-top: 16.5%;
  }
  #hosp_card_but {
    margin-top: 35vh;
  }
}

@media only screen and (max-width: 1260px) {
  .hospital_bookcont_from_user {
    width: 70%;
  }
  .hospital_bookconthead {
    width: 100%;
  }
  .hospital_book_card {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hospital_book_card1 {
    width: 100%;
  }
  .hospital_bookcont_from_user {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 900px) {
  .hospital_bookconthead h2 {
    font-size: 25px;
  }
  .hospital_booksearch {
    width: 200px;
  }
  .hospital_bookcont_from_user {
    margin: auto;
  }
  .hospital_book_card {
    justify-content: center;
  }

  #hosp_card_but_user {
    margin-top: 20.5%;
  }
}

@media only screen and (max-width: 1000px) {
  .hospital_bookcont_from_user {
    width: 90%;
    margin: auto;
  }
}
