.hospital_doc_appoint {
  margin-bottom: 50px;
}
.hospital_doc_checkroute {
  margin-left: 10%;
  width: 80%;
  margin-top: 30px;
  display: flex;
}
.doc_arrow {
  border: solid #a7b2c3;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}
.doc_right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 10px;
  margin-left: 10px;
}
.hospital_doc_checkroute p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #596579;
}
#hospital_name {
  font-weight: 700;
}
.hospital_doc_checkroute p:hover {
  cursor: pointer;
}

/* content for appointment */

.take_doc_appoint {
  width: 70%;
  margin-top: 100px;
}
.doc_appoint_head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.doc_appoint_head div h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
}
.doc_appoint_head div p {
  font-size: 15px;
  line-height: 30px;
  color: #596579;
}
.doc_booksearch {
  width: 260px;
}
form.doc_example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #d0d7e2;
  float: left;
  width: 100%;
  height: 40px;
  background: #e6eaf0;
  border-radius: 10px;
}
form.doc_example button {
  margin-left: -50px;
  margin-top: -3px;
  float: left;
  width: 4%;
  padding: 10px;
  background: none;
  color: #2745f0;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
form.doc_example button:hover {
  color: #0b7dda;
}
form.doc_example::after {
  content: "";
  clear: both;
  display: table;
}
/* doctor card */
.doc_apoint_card {
  /* border: 1px solid #D0D7E2; */
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 3rem;
  background: #f5faff;
  width: 100%;
}
.doc_apoint_card1 {
  border: 1px solid #d0d7e2;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.doc_card_img {
  width: 150px;
  height: 164px;

  display: flex;

  align-items: center;
}
.doc_card_img img {
  object-fit: cover;
}

.doc_about_desc {
  width: 50%;

  padding: 10px;
}
.doc_about_desc p {
  font-size: 14px;
  line-height: 20px;
  color: #596579;
  text-align: left;
}

.doc_about_desc_head {
  display: flex;
}
#doc_name_card {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

#doc_edu_brief {
  margin-top: 8px;
  margin-left: 20px;
  padding: 4px;
  background: #e1f0ff;
  border-radius: 6px;
  color: #374253;
  width: fit-content;
  height: fit-content;
}
#doc_available_days {
  padding-top: 8px;
  line-height: 20px;

  /* border: 1px solid red; */
}
#span1_doc_card {
  font-weight: 500;
  color: black;
}
.doc_card_but {
  display: flex;

  align-items: flex-end;
}
#doc_card_but {
  right: 0;
  border: 1px solid #2745f0;
  padding: 20px;
  color: #2745f0;
  background: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  transition: 0.5s;
}

.hospitalDr-price {
  text-align: right;
  margin-bottom: 50px;
}
#doc_card_but:hover {
  background-color: #2745f0;
  color: #fff;
  text-decoration: none;
}
/* form for appointment */

/* .doc_appoin_form2 {
  margin-left: 90px;
}
form.doc_appoin_form2 input {
  padding: 8px;
  font-size: 17px;
  border: 1px solid #d0d7e2;
  float: left;
  border-radius: 15px;
}
form.doc_appoin_form2::after {
  content: "";
  clear: both;
  display: table;
}
#appoint_dt {
  width: 215px;
} */
.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay1:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
.form_doc {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  padding: 10px;
}
.doc_appoin_form1 input {
  padding: 8px;
  font-size: 17px;
  border: 1px solid #d0d7e2;
  width: 100%;
  border-radius: 15px;
  height: 40px;
}
.doc_appoint_main1 {
  display: flex;
  flex-direction: column;
}
.doc_appoint_main1_user {
  display: flex;
  width: 80%;
  margin-left: 17%;
}

.doc_appoin_form1 .DatePicker {
  width: 100%;
  height: 40px;
  border-radius: 15px;
}
.doc_appoin_form1 .DatePicker .DatePicker__input {
  width: 100%;
  height: 100%;
}
.hospdoc_sub_but {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.submit-button {
  width: 50%;
  float: inline-end;
  height: 3rem;
  border-radius: 4px;
  background-color: #fff;
  color: #2745f0;
  border: 1px solid #2745f0;
  transition: 0.5s;
}
.submit-button:hover {
  background: #2745f0;
  color: white;
}

/* hospital description card */
.doc_appoin_hosp_desc {
  margin-top: 10%;
  width: 280px;
  margin-left: 50px;
}
.hosp_desc_hosp {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hosp_desc_hosp img {
  width: 150px;
  object-fit: cover;
}
.hosp_desc_hosp p {
  color: #596579;
}
#hosp_name_doc {
  font-weight: bold;
  font-size: 16px;
  color: black;
}
#hosp_ph_no img {
  width: 14px;
}

@media screen and (max-width: 1354px) {
  .doc_appoint_main1_user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .doc_appoin_hosp_desc {
    margin: 0;
    margin-top: 60px;
    width: 70%;
  }
}

@media screen and (max-width: 1250px) {
  .take_doc_appoint {
    width: 90%;
  }
  .doc_apoint_card {
    width: 100%;
  }
  .doc_apoint_card1 {
    width: 100%;
  }
}
@media screen and (max-width: 965px) {
  .doc_appoint_main1_user {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .doc_about_desc {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .doc_apoint_card1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .doc_about_desc {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
  }
  .doc_appoint_main {
    margin-top: 100px;
  }
  .doc_about_desc p {
    text-align: center;
  }

  .doc_appoin_hosp_desc {
    width: 90%;
  }
  #doc_card_but {
    width: auto;
  }
  .form_doc {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #doc_name_card {
    display: block;
    width: 100%;
  }
  #doc_edu_brief {
    display: block;
    width: 100%;
  }
}
