.logo-div {
  background-color: #2745f0;
}

.prescription-block {
  display: flex;
  padding: 2px;
}

.prescription-label {
  width: 150px;
}

.colon {
  width: 60px;
}

.prescription-value {
  width: 130px;
  line-height: 20px;
}

row {
  padding: 300px;
}

.prescription_view {
  padding: 0px;
  float: none;
}
