.logo-div {
  background-color: #2745f0;
}

.prescription-block {
  display: flex;
  padding: 5px 25px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.prescription-label {
  width: 90px;
}

.colon {
  padding: 0px 15px 0px 20px;
  width: 60px;
}
