
.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    position: relative;
    left: 200%;
    top: -200px;
}

.prescription-footer {
    position: absolute;
    right: 100%;
    top: 525px;
    z-index: 100;
    border: 1px solid red;
}

.footer-button {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #2745F0;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;

}
.next-button{
    background-color: #2745F0;
    color: #FFFFFF;
    padding: 10px 20px;
}
