#popup1_carts {
  position: absolute;
  height: fit-content;
  width: 100%;
  height: 84%;
  left: 0%;
  top: 18%;
  z-index: 2;

  border-radius: 5px;
}

.popup_carts {
  margin-left: 47%;
  margin-top: 0%;
  border-radius: 10px;
  position: relative;
  width: 30%;

  height: fit-content;
  transition: all 1s ease-in-out;
  z-index: 2;
  background: white;
  -webkit-box-shadow: 0 0 15px 54#5965794f;
  box-shadow: 0 0 15px #5965794f;
}

.popup_carts .pop_carts_cont {
  width: 100%;
  height: 100%;
}
.popup_carts_cont1 {
  width: 100%;
  height: 100%;
}
.popup_carts_cont1_head {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #d0d7e2;
}
#popup_carts_cont1_head {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #192638;
}
.cross_lcart {
  color: #2745f0;
  font-size: 20px;
}
.popup_carts_cont1_desc {
  margin-left: 20px;
  padding: 10px;
  width: 100%;
}
#popup_carts_cont1_desc {
  width: 100%;
}
#popup_carts_cont1_desc div {
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  color: #374253;
  width: 90%;
}
#carts_labtest_span_cross {
  float: right;
  color: #2745f0;

  width: 20px;
  height: 20px;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  #popup1_carts {
    top: 25%;
    left: 5%;
    width: 90%;
  }
  .popup_carts {
    margin: auto;
    margin-left: 17%;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  #popup1_carts {
    top: 15.5%;
    left: 5%;
    width: 90%;
  }
  .popup_carts {
    margin: auto;
    width: 80%;
  }
}
