#pop_checkout{
    position: absolute;
    z-index: 100;
    left: 40%;
    top: 10%;
}
.overlay_lab1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

  }
  .overlay_lab1:target {
    visibility: visible;
    opacity: 1;
  }
  .popup_lab {
    width: 393px;
    height: 599px;
    margin: 70px auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .popup_lab1 {
    width: 100%;
  }
  .pop_lab_cont1 {
    width: 100%;
    border-bottom: 0.75px solid #D0D7E2;
    height: 108px;
  }
  .pop_lab_cont1_1 {
    padding: 20px;
    position: absolute;
  }
  #popup_lab_cont1_head {
    color: black;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }
  .pop_lab_cont1_1 div {
    margin-top: 20px;
  }
  #popup_lab_cont1_desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B8698;
  }
  #popup_lab_cont1_span {
    text-decoration: none;
    float: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: black;
  }
  .pop_lab_cont2 {
    width: 100%;
    border-bottom: 0.75px solid #D0D7E2;
    height: 150px;
  }
  #popup_lab_cont2_head {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: black;
  }
  .popup_lab_cont2_desc {
    margin-top: 10px;
  }
  #popup_lab_cont2_desc {
    /* position: relative; */
    font-weight: normal;
    font-size: 14px;
    color: #7B8698;
    line-height: 25px;
    letter-spacing: 0.02em;
    /* height: 40rem;
    overflow-y: scroll;
    z-index: 200; */
  }
  #lab_labtest_span_cross {
    float: right;
    border: 0.75px solid #A7B2C3;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  #lab_labtest_span_cross p {
    margin-left: 5px;
    margin-top: -2px;
    color: #2745F0;
  }
  .pop_lab_cont3 {
    margin-left: 18px;
    width: 90%;
    height: 170px;
    border-bottom: 0.75px solid #D0D7E2;
  }
  .pop_lab_cont3_3 {
    width: 100%;
    margin-top: 15px;
  }
  .popup_lab_cont3_desc {
    margin-top: 20px;
  }
  #popup_lab_cont3_desc {
    color: #7B8698;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }
  .pop_lab_cont4 {
    margin-top: 15px;
    margin-left: 20px;
    width: 88%;
  }
  #popup_lab_cont4_head {
    color: #7B8698;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
  }
  .popup_lab_cont4_foot {
    margin-left: 95px;
    margin-top: 30px;
    display: flex;
  }
  .popup_lab_close {
    display: flex;
    text-decoration: none;
    width: 96px;
    height: 62px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #5065F6;
    border: 1px solid #2745F0;
    border-radius: 5px;
    background: #F0F2FF;
  }
  .popup_lab_close p {
    margin: auto;
  }
  .popup_lab .popup_lab_close:hover {
    text-decoration: none;
    color: #2C2F46;
  }