.main_div_user_lab {
  z-index: 1;
  position: absolute;
  left: 250px;
  width: 83.5%;
  top: 0;
  background: linear-gradient(
    177.28deg,
    rgba(82, 178, 229, 0.14) 2.16%,
    rgba(255, 255, 255, 0) 109.75%
  );
  background: linear-gradient(
    177.28deg,
    rgba(82, 178, 229, 0.14) 2.16%,
    rgba(255, 255, 255, 0) 109.75%
  );
  padding-top: 4rem;
}

.lab_add_to_cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lab_add_to_cart1 {
  width: 80%;
}

.lab_add_to_cart_top {
  margin-top: 6rem;

  display: flex;
  justify-content: space-between;
}

.lab_add_to_cart_top div {
  display: flex;
}
.lab_add_to_cart_ltwo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.lab_add_to_cart_ltwo p {
  font-weight: bold;
  font-size: 33.33px;
  line-height: 52px;
  color: #192638;
}

.lab_add_to_cart_ycarts {
  gap: 1rem;
}

#lab_your_cart {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;

  color: #192638;
}

.lab_add_to_cart_cart {
  border: 1px solid #d0d7e2;
  background: #f7f7ff;
  display: flex;
  padding: 18px;
  border-radius: 5px;
  font-size: 13.33px;
  color: blue;
}

#shopping-cart-lt {
}
.lab_popup_checkout {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  z-index: 100;
  cursor: pointer;
  background: #2745f0;
  border-radius: 5px;
}
.lab_popup_checkout p {
  margin: auto;
}
.lab_popup_checkout:hover {
  text-decoration: none;
  color: #fff;
}
.lab_add_to_cart_checkout {
  color: white;
  background: #2745f0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.lab_add_to_cart_checkout div {
  font-size: 11.67px;
}

.lab_add_to_cart_checkout div p {
  text-align: center;
}

.lab_add_to_cart_checkout:hover {
  background: #091294;
}

/* cart of sample labtest here */

.lab_add_to_cart_samp {
  margin-top: 4rem;

  display: flex;
  flex-direction: column;
}

.lab_add_to_cart_samp1 {
  margin-bottom: 3rem;

  background-color: #f5faff;
  border: 1px solid #d0d7e2;
  border-radius: 10px;

  padding: 20px;
  display: flex;
  gap: 2rem;
}

.lab_add_to_cart_samp1:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 0 15px 54#5965794f;
  box-shadow: 0 0 15px #5965794f;
}

.active_lab_add_to_cart_samp1 {
  margin-bottom: 45px;
  justify-content: space-between;
  padding: 20px;
  height: 220px;
  background-color: #f5faff;
  border: 2px solid #2745f0;
  /* border: 3px solid red; */
  border-radius: 10px;
  display: flex;
  gap: 2rem;
}

.lab_add_to_cart_samp_body1 {
  flex: 4;
  display: flex;
  gap: 2rem;
  border-right: 1px solid #8797a87a;
}

.lab_add_to_cart_samp_body1 img {
  border-radius: 5px;
  width: 165px;
  height: 158px;
  line-height: 160px;
  object-fit: cover;
}

.lab_add_to_cart_test_desc {
  flex: 1;
}

.ul_labtest_dash {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 25px;
  list-style: none;
}

.ul_labtest_dash li {
  display: flex;
}
/* big ul list style */
.ul_labtest_dash li:before {
  content: "•";
  font-size: 30px;
  color: black;
  margin-left: -10px;
}
.lab_samp_sel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lab_samp_sel1 {
  background: white;
  border-radius: 5px;
  border: 1px solid #2745f0;
  color: #2745f0;
  padding: 12px 25px;
  font-size: 11.67px;
  transition: 0.5s;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}
.lab_samp_sel1:hover {
  background: #2745f0;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/*
a
b
c
d
popup to select labtest */
.ctlt_popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.ctlt_popup:target {
  visibility: visible;
  opacity: 1;
}

.ctlt_popup_cont {
  margin: 10vh auto;
  padding: 30px 20px 30px 20px;
  background: #fff;
  border-radius: 5px;
  width: 22%;
  position: relative;
  transition: all 1s ease-in-out;
}
.ctlt_head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ctlt_head1 {
}
.ctlt_head h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
.close_ctlt {
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #2745f0;
}
.close_ctlt:hover {
  color: #091294;
  text-decoration: none;
}
.ctlt_institute {
  width: 100%;
}
.ctlt_institute p {
  font-size: 15px;
  color: #596579;
}
.ctlt_labtest {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ctlt_checklt {
  display: flex;
  justify-content: space-between;
}
.ctlt_total_price {
  width: fit-content;

  margin: auto;
  margin-right: 0;
}
.ctlt_total_price p {
  font-size: 16px;
  color: #596579;
  font-weight: 600;
}
#rupees_ctlt {
  background: #f0f2ff;
  padding: 12px;
  color: black;
}
.ctlt_atc_but {
  margin-top: 10px;
  background: #2745f0;
  border: 1px solid #2745f0;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 100%;
}
.ctlt_atc_but:hover {
  background: #1229a7;
}
/*
bla
bla
bla
Pagination Here */
.lab_add_to_cart_buttons_select {
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.lab_add_to_cart_buttons_select1 {
  display: flex;
  margin: auto;
}

.lab_add_to_cart_buttons_select1 div {
  margin-left: 10px;
}
.medical-institute-name {
  margin-left: 3rem;
}
.medical-institute-name-display-null {
  display: none;
}

/*
m 
o 
b 
i 
l
e
v
i
e
w
*/

@media screen and (max-width: 1100px) {
  .ctlt_popup_cont {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .lab_add_to_cart1 {
    width: 95%;
  }
  .main_div_user_lab {
    left: 0px;
    width: 100%;
  }
  .lab_add_to_cart_top {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .ul_labtest_dash {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /*
  .lab_add_to_cart_ltwo {
    width: 100%;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .lab_add_to_cart_ycarts {
    width: 100%;
  }
  .lab_add_to_cart_test_desc .ltpo {
    display: flex;
    width: 250px;
    height: 100px;
    color: red;
    justify-content: center;
    align-items: center;
  } */
  /* .lab_add_to_cart_atc {
    margin-top: 0;
    margin-bottom: 10px;
  } */
}

@media screen and (max-width: 660px) {
  .lab_add_to_cart_samp_body1 {
    border-right: none;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }
  .lab_add_to_cart_samp1 {
    flex-direction: column;
  }
  .active_lab_add_to_cart_samp1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lab_add_to_cart_test_desc {
    margin: 0;
    border-right: none;

    width: 100%;
  }
  .ul_labtest_dash {
    grid-template-columns: 1fr 1fr;
  }
  .lab_add_to_cart_samp_img1 {
    width: 100%;
  }
  .lab_add_to_cart_samp_img1 img {
    width: 100%;
    height: 200px;
  }
  .ctlt_popup_cont {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .lab_add_to_cart_samp_body1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #labtest_desc_txt1,
  #labtest_desc_txt2 {
    text-align: center;
  }
  .ul_labtest_dash {
    justify-content: center;
    align-items: center;
  }
}
