.main_div_user_lab {
  z-index: -1;
  position: absolute;
  left: 15.4%;
  top: 5%;
  width: 84.7%;
}

.lab_add_to_cart {
  width: 100%;
}

.lab_add_to_cart1 {
  width: 100%;

  /* background: linear-gradient(
    177.28deg,
    rgba(82, 178, 229, 0.14) 2.16%,
    rgba(255, 255, 255, 0) 109.75%
  );
  background: linear-gradient(
    177.28deg,
    rgba(82, 178, 229, 0.14) 2.16%,
    rgba(255, 255, 255, 0) 109.75%
  ); */
}

.lab_add_to_cart_top {
  width: 75%;
  margin-top: 80px;
  margin-left: 12%;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.lab_add_to_cart_top div {
  display: flex;
}

.lab_add_to_cart_ltwo {
  font-weight: bold;
  font-size: 37px;

  color: #192638;
}

.lab_add_to_cart_ycarts {
  height: 100%;
  float: right;
}

#lab_your_cart {
  height: 100%;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

.lab_add_to_cart_cart {
  width: 65px;
  height: 100%;
  border: 1px solid #d0d7e2;
  background: #f7f7ff;
  display: flex;
  margin-left: 10px;
  border-radius: 5px;
}

.lab_add_to_cart_cart:hover {
  text-decoration: none;
}

.lab_add_to_cart_cart div {
  margin: auto;
  margin-bottom: 8px;

  color: blue;
}

.cart-value {
  position: absolute;
  /* z-index: 100; */

  padding-top: 10px;
  padding-left: 10px;
}

.lab_add_to_cart_cart div :hover .cart_pop {
  display: none;
}

.lab_add_to_cart_cart div p {
  font-weight: bold;
  font-size: 15px;
  margin-top: 2px;
  text-decoration: none;
}

.fa-shopping-cart {
  margin-bottom: 5px;
  margin-left: 7px;
}

.lab_popup_checkout {
  margin-left: 20px;
  height: 62px;
  width: 142px;
  color: white;
  background: #2745f0;
  border-radius: 5px;
  display: flex;
}

.lab_popup_checkout div {
  margin: auto;
}

.lab_add_to_cart_checkout {
  margin-left: 20px;
  width: 110px;
  height: 100%;
  color: white;
  background: #2745f0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lab_add_to_cart_checkout div {
  margin: auto;
}

.lab_add_to_cart_checkout div p {
  text-align: center;
}

.lab_add_to_cart_checkout:hover {
  background: #091294;
}

/* cart of sample labtest here */

.lab_add_to_cart_samp {
  margin-top: 40px;
  width: 75%;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
}

.lab_add_to_cart_samp1 {
  margin-bottom: 45px;

  background-color: #f5faff;
  border: 1px solid #d0d7e2;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  transition-duration: 500ms;
  transition: width 2s;
}

.lab_add_to_cart_samp1:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 0 15px 54#5965794f;
  box-shadow: 0 0 15px #5965794f;
}

.active_lab_add_to_cart_samp1 {
  margin-bottom: 45px;
  padding: 10px;
  background-color: #f5faff;
  border: 3px solid #2745f0;
  /* border: 3px solid red; */
  border-radius: 10px;

  display: flex;
}

.lab_add_to_cart_samp_img1 {
  width: 20%;
}

.lab_add_to_cart_samp_img1 img {
  border-radius: 5px;
  width: 185px;
  height: 170px;
  line-height: 160px;
  object-fit: cover;
}

.lab_add_to_cart_test_desc {
  width: 35vw;

  margin-left: 10px;
  border-right: 1px solid #8797a87e;
}

.label_userlabtest {
  margin-left: 4px;
  font-size: 15px;
}
.input_subcat {
  margin-left: 5px;
}
.label_userlabtest1 {
  margin-left: 4px;
}
.lab_add_to_cart_price {
  color: #2745f0;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  right: 23%;
}

.lab_add_to_cart_price p {
  font-size: 20px;
}

.lab_add_to_cart_atc {
  display: flex;
  height: 20px;
  margin-top: 10px;
}

.lab_add_to_cart_atc button {
  width: 120px;
  height: 32px;
  line-height: 15px;
  border: 0px;
  background: #2745f0;
  border-radius: 5px;
  color: white;
  margin: auto;
  display: flex;
}

.lab_add_to_cart_atc button:hover {
  background: #091294;
}

.lab_add_to_cart_atc button p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: auto;
}

.lab_add_to_cart_buttons_select {
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.lab_add_to_cart_buttons_select1 {
  display: flex;
  margin: auto;
}

.lab_add_to_cart_buttons_select1 div {
  margin-left: 10px;
}
.medical-institute-name {
  margin-left: 3rem;
}
.medical-institute-name-display-null {
  display: none;
}

@media screen and (max-width: 1000px) {
  .main_div_user_lab {
    left: 0px;
    width: 100%;
  }

  .lab_add_to_cart_top {
    width: 90%;
    margin-left: 12%;
    flex-direction: column;
    margin-bottom: 80px;
  }

  .lab_add_to_cart_ltwo {
    width: 100%;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .lab_add_to_cart_ycarts {
    width: 100%;
  }
  .No_cart_item {
    margin: auto;
    margin-top: 10px;
  }
  .lab_add_to_cart_atc {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .lab_add_to_cart_samp1 {
    flex-direction: column;
  }
  .active_lab_add_to_cart_samp1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lab_add_to_cart_test_desc {
    margin: 0;
    border-right: none;
    border-bottom: 1px solid gray;
    width: 100%;
    overflow-y: scroll;
  }
  .labtest_desc1 {
    justify-content: start;
  }
  .lab_add_to_cart_samp_img1 {
    width: 100%;
  }
  .lab_add_to_cart_samp_img1 img {
    width: 100%;
    height: 200px;
  }
}
