.container-fluid {
  position: relative;
  top: 0;

  width: 100%;
  z-index: 1;
}
.title-header {
  display: flex;
  justify-content: space-between;
}
.title-focus {
  background-color: #2745f0;
  padding: 10px;
  color: white !important;
  border-radius: 10px;

  z-index: 10;
}
.card-title1 {
  cursor: pointer;
  font-size: 18px;
}
.card-title {
  cursor: pointer;
}
.edit-time-picker .time-picker {
  width: 300px;
}

.internal-appointment-datepicker-edit .Datepicker .DatePicker__input {
  width: 330px;
}
@media screen and (max-width: 600px) {
  .card-body {
    padding: 0;
  }
  .title-header {
    width: 100%;
  }
  .card-title1 {
    font-size: 10px;
  }
  .title-focus {
    padding: 5px;
  }
}
