.hosp_hom_cont {
  padding-top: 80px;
  width: 80%;
  margin: auto;
}

.hosp_hom_head {
  text-align: center;
  margin-bottom: 50px;
}

.hosp_hom_head h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 52px;
}

.hosp_hom_head p {
  font-size: 16px;
  line-height: 30px;

  color: #596579;
}

/* view all button css here */
.link_hosp_home:hover {
  text-decoration: none;
}
.view_hosp_home {
  margin-top: 40px;
  display: flex;

  justify-content: center;
}

.view_hosp_home p {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  border: 1px solid white;
  color: #2745f0;
}

.view_hosp_home:hover #arrow_hosp_hom {
  border-bottom: 1px solid;
}

/* get appointment button on hospital homepage */
#hosp_card_but_hom {
  width: 200px;
  height: 40px;
  margin-top: 5%;
  margin-left: 9vw;
  border: 1px solid #2745f0;
  color: #2745f0;
  background: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  transition: 0.5s;
}

#hosp_card_but_hom:hover {
  background: #2745f0;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .hospital_card_text #hosp_card_but_hom {
    width: fit-content;
    margin: auto;
  }
}
