.table-eld-care tr,
th,
td {
  border: 0.6px solid #596579;
  color: #596579;
}

.table-eld-care th {
  padding: 20px;
  height: 50px;
  text-align: center;
  line-height: 30px;
}

.table-eld-care td {
  font-size: 16px;
  padding: 10px;
  text-align: left;
  line-height: 30px;
}

@media screen and (max-width: 500px) {
  .table-eld-care th {
    padding: 0;
  }
  .table-eld-care td {
    padding: 0;
  }
}
