.serviceDate .DatePicker .DatePicker__input {
  padding: 1.1em 0.8em;
  float: right;
}
.delete-container {
  position: relative;
  top: 3rem;
  left: 6rem;
}
.dash-service-body .material-table {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 450px) {
  .labrepo_text_form .prescription_input {
    width: 50%;
  }
}
