.digi_doc_appointmain {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.digi_doc_appointmain1 {
  margin-top: 10%;
}
.our_doc_appoint {
  width: 80%;
}
.our_doc_speciality {
  margin-top: 50px;
  display: grid;
  grid-gap: 2em;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-areas: "one two three four five six" "seven eight nine ten eleven twelve"; */
}
.speciality_doc_card {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: fit-content;
}
/* .speciality_doc_card:nth-child(1) {
  grid-area: one;
}
.speciality_doc_card:nth-child(2) {
  grid-area: two;
}
.speciality_doc_card:nth-child(3) {
  grid-area: three;
}
.speciality_doc_card:nth-child(4) {
  grid-area: four;
}
.speciality_doc_card:nth-child(5) {
  grid-area: five;
}
.speciality_doc_card:nth-child(6) {
  grid-area: six;
}
.speciality_doc_card:nth-child(7) {
  grid-area: seven;
}
.speciality_doc_card:nth-child(8) {
  grid-area: eight;
}
.speciality_doc_card:nth-child(9) {
  grid-area: nine;
}
.speciality_doc_card:nth-child(10) {
  grid-area: ten;
}
.speciality_doc_card:nth-child(11) {
  grid-area: eleven;
}
.speciality_doc_card:nth-child(12) {
  grid-area: twelve;
} */
.speciality_cont1 {
  display: flex;

  background: #f0f2ff;
  border-radius: 10px 10px 0px 0px;
}
.speciality_cont1 img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.speciality_cont2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.speciality_cont2 p {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #374253;
}
.digidoc_head_txt h1,
p {
  text-align: left;
}
.digidoctor_apoint_card {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.digidoctor_apoint_card1 {
  border: 1px solid #d0d7e2;
  background: #f5faff;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}
.digidoc_card_img img {
  object-fit: cover;
}
.digidoctor_about_desc {
  padding-left: 20px;
  width: 80%;
}

.digidoctor_about_desc p {
  text-align: left;
  color: #596579;
}
.digidoc_about_desc_head {
  display: flex;
}
.digidoctor_card_but {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: end;
}
#digidoctor_card_but {
  width: 200px;
  height: 40px;

  border: 1px solid #2745f0;
  color: #2745f0;
  background: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  transition: 0.5s;
}
#digidoctor_card_but:hover {
  background-color: #2745f0;
  color: #fff;
}

.form_digidoc {
  margin-top: -21px;
  border: 1px solid #d0d7e2;
  background: #f5faff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
  padding: 10px;
}

.digidoc_appoin_form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.digidoc_appoin_form1 input {
  width: 80%;
  height: 40px;
  border: 1px solid #d0d7e2;
  border-radius: 15px;
}
.digidoc_appoin_form1 select {
  width: 80%;
  height: 40px;
  border: 1px solid #d0d7e2;
  border-radius: 15px;
}
.submit-buttons {
  width: 150px;
  height: 40px;
  margin-top: 30px;
  border: 1px solid #2745f0;
  color: #2745f0;
  background: white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  transition: 0.5s;
}
.submit-buttons:hover {
  background-color: #2745f0;
  color: #fff;
}
.digidoctor_whychooseus {
  flex: 1;
}
.digidoc_whycus {
  box-shadow: 0px 0px 4px rgba(20, 8, 8, 0.3);
  border-radius: 10px;
}
.digidoc_whycus_head {
  padding: 10px;
  padding-left: 20px;
}
.digidoc_whycus_h1 {
  font-size: 19.16px;
  font-weight: bold;
}
.digidoc_whycus_body {
}
.digidoctor_whychooseus_cont {
  padding: 10px;
  padding-left: 20px;
  width: 100%;
  border-bottom: 0.75px solid #d0d7e2;
  display: flex;
}
.whychooseus_contimg {
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 7px;
}

.ico_digi_doc1 {
  font-size: 19.16px;
}
.digidoctor_whychooseus_cont p {
  font-size: 15px;
  color: #7b8698;
  font-weight: normal;
}

.digidoc_wcu_b_P {
  padding-top: 6px;
}
.digidoc_emergency_call {
  padding: 50px;
  margin-top: 20px;
  background: #52b2e5;
  border-radius: 8px;
  color: white;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.digidoc_emergency_call p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.digidoc_emergency_call h4 {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}
@media screen and (max-width: 660px) {
  .digidoctor_apoint_card1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .digidoctor_about_desc {
    padding-left: 0;
  }
  .digidoctor_about_desc p {
    text-align: center;
  }
  .digidoc_about_desc_head {
    flex-wrap: wrap;
    justify-content: center;
  }

  .digidoctor_card_but {
    width: 60%;
  }
  #digidoctor_card_but {
    width: 100%;
  }
  .form_digidoc {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  .take_doc_appoint {
    width: 90%;
  }
  .digi_doc_appointmain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .digidoctor_whychooseus {
    margin: 0;
    width: 100%;
  }
}
