/* CSS */
.package-page {
  width: 100%;
}
.top-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    177.28deg,
    rgba(82, 178, 229, 0.14) 2.16%,
    rgba(255, 255, 255, 0) 109.75%
  );
}
.up {
  margin-left: 10%;
  padding-top: 52px;
}
#healthpackages {
  margin-left: 0px;
  margin-top: 4px;

  /* font-family: Objective; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  /* identical to box height, or 100% */
  letter-spacing: 0.01em;

  /* Grey/600 */
  color: #596579;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
}

#familyhealthpackages {
  /* font-family: Objective; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  /* identical to box height, or 100% */
  letter-spacing: 0.01em;

  /* Grey/600 */
  color: #596579;
}
.down {
  padding-left: 10%;

  display: flex;
  /* width: 70%; */
}
#headerfamilyhealth {
  margin-top: 170px;
  /* font-family: Objective; */
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 64px;
  /* identical to box height, or 107% */
  display: flex;
  align-items: center;

  /* Grey/800 */
  color: #192638;
}
.fcp_down_desc_2 {
  width: 60%;
}
#text1 {
  /* font-family: Objective; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  /* Grey/600 */
  color: #596579;

  margin-top: 16px;
}
.fcp_main_img {
  padding-left: 20%;
}
.fcp_main_img img {
  width: 500px;
}
.mid-container {
  width: 100%;
  /* height: 950px; */
  /* margin-left: 200px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.question {
  /* font-family: Objective; */
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #192638;
  margin-top: 100px;
  width: 80%;
  text-align: center;
}
.boxfortext1 {
  width: 80%;
  /* height: 220px; */
  left: 200px;
  top: 1008px;
  padding: 24px;

  background: #f5faff;
  /* Grey/300 */

  border: 1px solid #d0d7e2;
  box-sizing: border-box;
}
#text3 {
  width: 100%;
  /* height: 180px; */
  left: 224px;
  top: 1032px;
  text-align: justify;

  /* font-family: Objective; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  /* Grey/600 */
  color: #596579;
}
.list1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 8px;

  text-align: justify;
  color: #7b8698;
}
.boxfortext2 {
  width: 80%;
  /* height: 246px; */
  left: 200px;
  top: 1008px;
  padding: 24px;

  background: #f5faff;
  /* Grey/300 */

  border: 1px solid #d0d7e2;
  box-sizing: border-box;
}
.bottom-container {
  /* width: 100%; */
  /* margin-top: 100px; */
  padding-left: 10%;
  margin-right: 0px;
  padding-right: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  margin: 4%;
  background: #f0f2ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.Program {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-top: 95px;
  /* Grey/800 */

  color: #192638;
}
.text9 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  color: #596579;
  width: 70%;
  text-align: center;
}
.price {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  margin-top: 25px;
  margin-bottom: 0px;

  color: #2745f0;
  text-align: center;
}
.peryear {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  margin-top: 8px;
  margin-bottom: 50px;
  color: #596579;
}
.button {
  width: 80%;
  height: 65px;
  background: #2745f0;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.01em;

  color: #ffffff;
}
.list2 {
  width: 80%;
  padding: 3%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #596579;
}
.popular {
  background-color: #f00;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
  margin-top: 40px;
  margin-left: 60%;
}
#stan {
  margin-top: 45px;
}
.boxes:hover {
  background: #f0f2ff;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.1));
}
/*c
s
s
f
o
r
package adas */
.fam-package-detail {
  margin-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.fam-packages-cat {
  margin-top: 50px;
  display: flex;
  gap: 3rem;
}
.fam-package1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background: #f0f2ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  transition: 0.2s;
}
.fam-package1:hover,
.fam-package2:hover {
  box-shadow: 0px 0px 10px rgba(102, 99, 99, 0.5);
}
.fam-package2 {
  position: relative;

  top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background: #f0f2ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  transition: 0.2s;
}
.fam-pack-pop-or-not {
  margin-top: 40px;
  width: 80%;
}
.fam-pack-pop-or-not ul {
  float: right;
  width: 69px;
  height: 23px;
  background: #ff0000;
  border-radius: 5px;
  color: white;
  text-align: center;
}
.fam-package-head {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;

  text-align: center;
}
.fam-package-head p {
  text-align: center;
}
#text-fam-pack-head1 {
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #192638;
}
#text-fam-pack-head2 {
  font-size: 13.33px;
  line-height: 24px;
  color: #596579;
}
#text-fam-pack-price1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;

  color: #2745f0;
}
#text-fam-pack-head3 {
  font-size: 16px;
  line-height: 16px;

  color: #596579;
}
.fam-packages-ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fam-packages-ul ul {
  padding-left: 15px;
}
.fam-package-ul1 li {
  list-style: disc;
  color: #596579;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
}
.fam-pack-button {
  margin-top: 30px;
  width: 100%;
  background: #2745f0;
  border-radius: 8px;
  color: white;
  padding: 18px;
  border: 1px solid #2745f0;
}
/* m
o
b
i
l
e
view */
@media screen and (max-width: 600px) {
  .boxes {
    margin: 2%;
    width: 30%;
  }
  .bottom-container {
    padding-left: 1%;
  }
  .list2 {
    padding: 0%;
    font-size: 15px;
    line-height: 25px;
  }
  .button {
    height: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .person-with-masks {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .down {
    flex-direction: column;
  }
  .fcp_main_img {
    padding-left: 0;
  }
  .fcp_main_img img {
    width: 90%;
  }
  .fam-package-detail {
  }
  .fam-packages-cat {
    flex-direction: column;
  }
  .fam-package2 {
    top: 0;
  }
}
