.profile-container {
  position: absolute;
  width: 1296px;
  height: 605px;
  left: 328px;
  top: 164px;

  background: #FFFFFF;
  /* Shadow/Light */

  box-shadow: 0px 4px 16px #E6EAF0;
  border-radius: 30px;
  border: 1px solid red;
}

.profile-selection {
  position: absolute;
  width: 315px;
  height: 61px;
  left: 20px;
  top: 20px;

  /* Info/50 */

  background: #E1F0FF;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

}

.profile-tab {
  background: #2745F0;
  box-shadow: 2px 2px 10px 2px rgba(167, 178, 195, 0.2);
  border-radius: 15px;
  width: 149px;
  height: 45px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-body-left {
  position: absolute;
  width: 156.65px;
  height: 156.65px;
  left: 100px;
  top: 120px;
}

.profile-body-left img {
  /* position: absolute; */
  width: 156.65px;
  height: 156.65px;

}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.editProfile-tab {
  cursor: pointer;
}

.credentials-name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
}

.credentials-email {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  /* Grey/Def */

  color: #7B8698;
}

.profile-body-right {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  margin-left: 320px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.profile-details {
  width: 438px;
  height: 64px;
  margin-top: 10px;
  background: #E1F0FF;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-body-right-right {
  margin-left: 20px;
}

.edit-profile-input {
  width: 321px;
  height: 46px;
  border: 1px solid #D0D7E2;
  box-sizing: border-box;
  border-radius: 10px;
}