.profile-container {
  position: absolute;
  width: 1150px;
  min-height: 550px;
  left: 300px;
  /* right: 10px; */
  top: 100px;

  background: #ffffff;
  /* Shadow/Light */

  box-shadow: 0px 4px 16px #e6eaf0;
  border-radius: 30px;
  border: 1px solid red;
}

.profile-selection {
  width: 315px;
  height: 61px;
  margin-bottom: 25px;
  /* Info/50 */

  background: #e1f0ff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.selected-tab {
  background: #2745f0;
  color: white;
}

.profile-tab {
  border-radius: 15px;
  width: 149px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-block {
  box-shadow: 2px 2px 10px 2px rgba(167, 178, 195, 0.2);
  border-radius: 15px;
  background: white;
  padding: 15px;
}

.profile-body-left {
  position: absolute;
  /* width: 150px; */
  height: 150px;
  /* left: 70px; */
  /* top: 120px; */
}

.profile-body-left img {
  /* position: absolute; */
  width: 150px;
  height: 150px;
  margin-left: 55px;
}

.user-details {
  text-align: center;
}
.credentials-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.credentials-email {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  padding-left: 0px;
  color: #7b8698;
}

.profile-body-right {
  display: flex;
  justify-content: center;
  margin-top: 11%;
  margin-left: 220px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.profile-details {
  width: 400px;
  height: 60px;
  margin-top: 10px;
  background: #e1f0ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-body-right-right {
  margin-left: 20px;
}

.edit-profile-input {
  width: 321px;
  height: 46px;
  border: 1px solid #d0d7e2;
  box-sizing: border-box;
  border-radius: 10px;
}

.textAlign-center {
  text-align: center;
}
/* 
.view-profile-img{
  max-height: 150px;
  margin: 50px 0px 15px 0px;

} */

.image-profile {
  max-height: 150px;
  max-width: 150px;
  margin-top: 50px;
  border-radius: 50%;
}
.info-block {
  padding: 24px 25px;
  background: #e1f0ff;
  border-radius: 10px;
  margin-bottom: 8px;
}
.info-block span {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  display: inline-block;
}

.info-label {
  width: 40%;
}
.info-value {
  margin-left: 45px;
}

@media screen and (max-width: 400px) {
  .profile-selection {
    width: 100%;

    padding: 0px 20px;
  }
}
