.labtest1 img {
  width: 100%;
}

.labtest_main_text {
  width: 20%;

  margin-top: -25%;
  margin-left: 10%;
}

.labtest1 {
  margin-bottom: 20%;
}

#labtxt1 {
  font-weight: 700;
  font-size: 3.7vw;
  line-height: 5vw;
  text-align: left;
}

#labtxt2 {
  font-size: 1.1vw;
  color: #596579;
  text-align: left;
  text-indent: 0px;
  line-height: 1.5vw;
  letter-spacing: 1px;
}

.lab_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lab_content_headtxt {
  margin-top: 30px;
  color: black;
  font-weight: 700;
  font-size: 2.5vw;
  margin-bottom: 40px;
}

.lab_samp1 {
  margin-top: 25px;
  width: 70vw;

  background-color: #f5faff;
  border: 1px solid #d0d7e2;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}
@media screen and (max-width: 1020px) {
  .lab_samp1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.lab_sam_img1 img {
  padding: 20px;
  height: 270px;
}
.lab_sam_img1:hover img {
  opacity: 100%;
}

.labtest_desc {
  width: 530px;
  height: 220px;
  margin-top: 25px;
  margin-left: 10px;
  /* border-right: 1px solid #8797a87e; */
}

#labtest_desc_txt1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

#labtest_desc_txt2 {
  font-weight: 500px;
  color: #596579;
}

.labtest_desc1 {
  display: flex;
}

.labtest_desc_detail ul li {
  font-weight: 400px;
  font-size: 12px;
  color: #596579;
  line-height: 22px;
}

#lab_test_detail {
  font-weight: 400px;
  font-size: 12px;
  margin-left: 50px;
  color: #596579;
}

#lab_test_detail li {
  line-height: 22px;
}

.lab_test_price {
  color: #2745f0;
  width: 250px;
  text-align: center;
  padding-top: 125px;
  font-weight: bold;
}

.lab_test_price p {
  font-size: 20px;
}

.lab_buttons_select {
  margin-top: 50px;
  width: 100%;

  display: flex;
}
.lab_buttons_select1 {
  display: flex;
  margin: auto;
}

.lab_buttons_select1 div {
  margin-left: 10px;
}

.lab_arrow_left {
  width: 25px;
  height: 26px;
  border: #d0d7e2;
  background: #d0d7e2;

  border-radius: 4px;
}

.lab_arrow_left div {
  margin-left: 11px;
  margin-top: -5px;
}

.lab_arrow_right {
  width: 25px;
  height: 26px;
  border: 1px solid #dfe3e8;

  border-radius: 4px;
}

#lab_arrow_right {
  margin-left: 7px;
  margin-top: -5px;
}

.lab_arrow {
  border: solid rgb(247, 247, 247);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  background: #d0d7e2;
}

.left {
  transform: rotate(135deg);
}

.lab_arrow_r {
  border: 1px solid #4200ff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  background: white;
  transform: rotate(316deg);
}

#lab_button_num {
  background-color: white;
  border: white;
  font-weight: 400px;
  font-size: 12px;
  margin-left: 1px;
}

.lab_arrow_num {
  width: 25px;
  height: 26px;
  border: 1px solid #dfe3e8;

  border-radius: 4px;
}

#lab_button_num1 {
  background-color: white;
  border: white;
  font-weight: bold;
  font-size: 12px;
  margin-left: 1px;
}

.lab_arrow_num1 {
  width: 25px;
  height: 26px;
  border: 2px solid #2745f0;

  border-radius: 4px;
}
.No_cart_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  color: #4200ff;
}

/* .lab_add_to_cart_price{
  display: flex;
  justify-content: center;
  align-items: center;
} */
