/* .logo{
    width: 100%;
    text-align: center;

} */

.logoHeight {
  height: 50px;
}
.dash-icon {
  margin-right: 10px;
  color: #52b2e5;
}

.dash-icon:hover {
  color: white;
}

.logoimg {
  object-fit: cover;
}

.sidebar-scroll{
  overflow-y: scroll;
}
