.ourserv-cont-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ourserv-cont-main1 {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.serv-passages {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.questionheads {
  margin-top: 6rem;
  font-style: normal;
  font-weight: bold;
  font-size: 19.16px;
  line-height: 24px;
  color: #374253;
}
.serv-boxes {
  width: 100%;
  background: #f5faff;
  border: 1px solid #d0d7e2;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 30px;
  border-radius: 8px;
}
.serv-boxes ul {
  padding-left: 15px;
}
.serv-boxes ul li {
  list-style: initial;
}
.serv-boxes ol li {
  list-style: decimal;
}
.serv-boxes h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #000000;
}

.serv-text {
  font-size: 15px;
  line-height: 30px;
  color: #596579;
  font-weight: normal;
}

.ul-serv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
}
.ul-serv li::before {
  position: relative;
  content: "• ";
  top: 3px;
  font-size: 30px;
  line-height: 20px;
}
.ul-serv li {
  overflow: hidden;
  overflow-wrap: break-word;
}

.packages_ltp {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  line-height: 30px;
}

/*a
b
c
 responsive css here */

@media screen and (max-width: 990px) {
  .ourserv-cont-main1 {
    width: 95%;
  }
  .ourserv-cont-main1 {
    flex-direction: column;
  }
  .ul-serv {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .ul-serv {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 400px) {
  .ul-serv {
    grid-template-columns: 1fr;
  }
}
