.med_repo_main {
  width: 85%;
  margin-left: 250px;
  background: linear-gradient(
    177.28deg,
    rgba(82, 178, 229, 0.14) 2.16%,
    rgba(255, 255, 255, 0) 109.75%
  );
  display: flex;
  flex-direction: column;
}
.report-container {
  margin-top: 90px;
  margin-left: 3%;
  width: 100%;
}
.report-container h2 {
  font-size: 19.16px;
  font-weight: 500;
}
.previous-reports-wrapper {
  background-color: #fff;
  border: 2px solid #f1f0f0;
  border-radius: 5px;
  padding: 20px;
  width: 90%;
  margin-top: 20px;
}
.medical_repo_form {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.margin-adjuster1 {
  width: 48%;
}
.margin-adjuster2 {
  width: 48%;
}
.labrepo_text_form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.labrepo_text_form label {
  display: flex;
  font-size: 15px;
  font-weight: normal;
  align-items: center;
  color: #596579;
  width: 32%;
}
.prescription_input {
  width: 65%;
  height: 40px;
  border: 0.75px solid #d0d7e2;
  border-radius: 6px;
}
.prescription_input:focus {
  border: 2px solid #2745f0;
}
.prescription_inputimage {
  width: 65%;
  height: 80px;
  border: 0.75px solid #d0d7e2;
  border-radius: 6px;
}
.prescription_inputimage:focus {
  border: 2px solid #2745f0;
}
.prescription_inputdesc {
  width: 65%;
  height: 100px;
  border: 0.75px solid #d0d7e2;
  border-radius: 6px;
}

.prescription_inputdesc:focus {
  border: 2px solid #2745f0;
}
.button-submit {
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  background-color: #2745f0;
  float: right;
  color: white;
  border-radius: 6px;

  border: none;
}

.button-submit:hover {
  background: #122592;
}

#medical_table_head {
  font-size: 19.16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.material-table {
  /* margin-top: 50px; */
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .med_repo_main {
    width: 100%;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
  .report-container {
    margin-left: 0;
    width: 80%;
  }
  .previous-reports-wrapper {
    width: 100%;
  }
  .report-container .umi_row {
    width: 105%;
  }
  .material-table {
    margin-top: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .report-container {
    width: 95%;
  }
  .medical_repo_form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .margin-adjuster1,
  .margin-adjuster2 {
    width: 100%;
  }
  .labrepo_text_form label {
    width: 20%;
  }
}
@media screen and (max-width: 400px) {
  .prescription_input,
  .prescription_inputimage,
  .prescription_inputdesc {
    width: 50%;
  }
  .labrepo_text_form .select-category {
    width: 50%;
  }
}

.medical-report-button {
  margin-top: 2rem;
  border-top: 1px solid #c4c3c3;
  padding-top: 2rem;
}
.err-message {
  color: red;
  position: relative;
  top: -15%;
  left: 35%;
}
.select-category {
  width: 65%;
}
.err-message-bottom {
  color: red;
  position: relative;
  top: -5%;
  left: 35%;
}
.err-message-bottom-doctor {
  color: red;
  position: relative;
  top: 6%;
  left: 0%;
}

.umi_row {
  width: 92.5%;
}
