.doc-pop-main {
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doc-pop-inner {
  border: 1px solid white;
  position: relative;
  top: 5vh;
  padding: 20px;
  background: #fff;

  border-radius: 8px;
}
.doc-pop-cont {
  display: flex;
  flex-direction: column;
}
.doc-close-but {
  border: none;
}
.doc-close-butt {
  background: #fff;
  border: none;
  float: right;
}

.doc-close-but:hover #doc-popup-cross {
  color: rgb(105, 105, 243);
}

/* form
c
o
n
t
e
n
t */
.doc-pop-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.doc-form-row1 {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: auto auto auto;
}
.doc-form-row2 {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: auto auto;
}

.doc-form-input1 {
  display: flex;
  flex-direction: column;
}
.doc-form-input1 input,
.doc-form-input1 select {
  border: 1px solid #d0d7e2;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}
.doc-form-input2 {
}

.doc-form-last-sent p {
  font-size: 14px;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #8797a8;
}

#pop-doc-but {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  background: #2745f0;
  color: white;
  border: none;
}
#pop-doc-but:hover {
  background: #06156b;
}
select:invalid {
  color: gray;
}

@media screen and (max-width: 1366px) {
  .doc-pop-inner {
    width: 60%;
    left: 8%;
  }
}

@media screen and (max-width: 990px) {
  .doc-pop-inner {
    width: 80%;
    left: 0;
  }
}
@media screen and (max-width: 660px) {
  .doc-pop-inner {
    width: 90%;
  }
  .doc-pop-form {
    height: 80vh;
    overflow: scroll;
  }
  .doc-form-row1,
  .doc-form-row2 {
    width: 95%;

    display: flex;
    flex-direction: column;
  }
  .doc-form-row3 {
    width: 95%;
  }
}
