.doc-pop-main {
  position: fixed;
  top: 0;

  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
.doc-pop-inner {
  position: relative;
  padding: 42px;
  background: #fff;
  width: 100%;
  max-width: 64px;
}

.doc-close-but {
  position: absolute;
}
