.ourserv-wcu-cont {
  width: 100%;
  padding-top: 50px;

  width: 25%;
}

.ourserv-wcu-main {
  padding: 10px;
}
.emergency-call {
}

.ourserv-wcu-main {
  margin-top: 50px;
}

.icon-oos {
  font-size: 25px;
}
.digidoctor_whychooseus_cont p {
  font-size: 30px;
}
