/* ouroscomponent css here */
.ourserv-wcu-cont {
  padding-top: 50px;
  flex: 1;
}
.ourserv-wcu-cont1 {
  width: 80%;
  float: right;
}

.emergency-call {
}

.ourserv-wcu-main {
  margin-top: 50px;
}

.icon-oos {
  font-size: 25px;
}

/*a
b
c
 responsive css here */

@media screen and (max-width: 991px) {
  .ourserv-wcu-cont1 {
    width: 100%;
    float: unset;
  }
}
