.marginadj{
    margin-top: 15%;
    margin-left: 30%;
    position: absolute;
    display: flex;
}
.form-width-adjust{
    width: 80%;
    margin-top: 100px;

}
.errmsg{
    font-size: small;
    margin-top: 2px;
}
.marginadj{
    margin-top: 10%;
    margin-left: 30%;
    position: absolute;
    display: flex;
}
.form-width-adjust{
    width: 80%;

}
.errmsg{
    font-size: small;
    margin-top: 2px;
}
.bookappimage{
    height: 400px;
    width: 400px;
    margin-left: 100px;
    margin-top: 100px;
}