.logoimg {
  margin: 0px !important;
  height: 60px !important;
  width: 300px !important;
  margin-right: 10px;
}

.db_navbar {
  display: flex;
  background-color: blue;
  height: 60px;
}
/* .newdash_user_img img{
  border-radius: 50%;
  width: 500px;
} */
/*
.newdash_user_img{
  width: 500px;
  height: 400px;
} */