/* navbar css here */
.newdash_nav {
  display: flex;
  width: 100%;
  background: #2745f0;
  height: 58px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1001;
}
.react-time-picker__clock {
  z-index: 1;
}

.newdash_hamburger {
  display: none;

  color: white;

  width: 40px;
  text-align: center;
}
.newdash_hamburger i {
  line-height: 50px;
  font-size: 25px;
}
.dash_nav_img {
  margin-bottom: 0;
}
.newdash_nav_img {
  width: 30%;
  height: 100%;
}

.newdash_nav_img img {
  height: 100%;
  width: 230px;
  object-fit: cover;
}

.Welcome_client {
  margin-left: 4%;
  width: 40%;
  height: 100%;
  font-size: 19.6px;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.newdash_user {
  width: 50px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: auto;
  margin-right: 2.5%;
}
.newdash_user_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-top: 0;
  margin-right: 0;
}

.newdash_user_img img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.newdash_user_optionmain {
  position: fixed;
  top: 58px;
  right: 2.5%;
  background: white;
  display: none;
  width: 250px;
  margin-left: auto;
  margin-right: 0;
}

.newdash_user_option {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 15px;

  color: black;
  -webkit-box-shadow: 0 0 15px 54#5965794f;
  box-shadow: 0 0 15px #5965794f;
}
.newdash_user_option1 {
  display: flex;
  gap: 10px;

  cursor: pointer;
  padding-left: 10px;
  border-radius: 10px;
}
.newdash_user_option1:hover {
  background: #52b2e5;
  color: white;
}
.newdash_user_icon {
  width: 20px;
  line-height: 40px;
}

.newdash_user:hover .newdash_user_optionmain {
  display: block;
}
/* a Sidebar css here
a
a
b
c
d
*/
.newdash_body {
  margin-top: 58px;
  position: fixed;
  z-index: 1000;
}
.newdash_dash_main {
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
  background-color: #fff;
}

.newdash_dash1 {
  -webkit-box-shadow: 0 0 15px 54#5965794f;
  box-shadow: 0 0 15px #5965794f;
  height: 100vh;
  position: fixed;
  width: 250px;
  background-color: #fff;

  padding: 5px 10px;
}
/* 
.newdash_dash1_cont1 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 80%;
}
.newdash_dash1_cont1p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;

  width: 100%;
}
.newdash_dash1_cont2p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px 10px 0px 0px;

  width: 100%;
}
#newdash_dash1_cont1p {
  font-size: 14px;
  width: 90%;
}

#newdash_bar_ico {
  margin-right: 10px;
  font-size: 18px;
  color: #52b2e5;
}

#newdash_arrow {
  float: right;
  margin-left: 20px;
  font-weight: lighter;
}

.newdash_dash1_cont2 {
  color: white;
  background: #52b2e5;
  display: none;
  transition: 1s linear;
  padding-left: 25%;
  /* height: 0px;  */
/* } */

.newdash_dash1_cont2 p {
  line-height: 30px;
}
.newdash_dash1_cont1:hover .newdash_dash1_cont2 {
  height: 100%;
  display: block;
  cursor: pointer;
}

.newdash_dash1_cont1:hover p #newdash_arrow {
  transform: rotate(90deg);
}

.newdash_dash1_cont1:hover .newdash_dash1_cont1p {
  color: white;

  cursor: pointer;
}

.newdash_dash1_cont1:hover .newdash_dash1_cont2p {
  color: white;

  cursor: pointer;
}
.newdash_dash1_cont2 p:hover {
  text-decoration: underline;
}
.newdash_content {
}
*/ @media screen and (max-width: 1232px) {
  .newdash_user {
  }
}

@media screen and (max-width: 1000px) {
  .newdash_hamburger {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    color: white;
  }

  .newdash_dash_main {
    display: none;
  }

  @media screen and (max-width: 900px) {
    .newdash_user {
    }

    .Welcome_client {
      font-size: 13.33px;
      width: 38%;
    }
  }
}
@media screen and (max-width: 600px) {
  .newdash_hamburger {
    margin-left: 0px;
    width: 20px;
  }
  .newdash_hamburger i {
    font-size: 14px;
  }
  .newdash_nav_img {
    display: flex;

    align-items: center;
  }
  /* .newdash_nav_img img {
    height: 100%;
    width: 100;
    object-fit: contain;
  } */
  .newdash_nav_img img {
    width: 120px;
    height: 40px;
    object-fit: cover;
  }
  .Welcome_client {
    width: 40%;
  }
  .Welcome_client p {
    font-size: 12px;
    line-height: 14px;
  }
  .newdash_user {
    margin-right: 0;
  }
  .newdash_user_optionmain {
    width: 50%;
    right: 0;
  }
  .newdash_dash1 {
    width: 210px;
  }
}
