.newdash_body {
  width: 100%;
}

/* navbar css here */
.newdash_nav {
  display: flex;
  width: 100%;
  background: #2745f0;
  height: 58px;
  color: white;
}

.newdash_nav_img {
  height: 100%;
}

.newdash_nav_img img {
  height: 100%;
  width: 230px;
  object-fit: cover;
}
.newdash_user {
  width: 20%;
  display: flex;
  flex-direction: column;

  gap: 10px;
  margin-left: 50%;
}
.newdash_user_img {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-top: 4px;
  margin-right: 0;
  border-radius: 50%;
}

.newdash_user_img img {
  width: 50px;
  height: 100%;
  object-fit: cover;
}
.newdash_user_optionmain {
  display: none;
  width: 70%;
  margin-left: auto;
  margin-right: 0;
}

.newdash_user_option {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 15px;

  color: black;
  -webkit-box-shadow: 0 0 15px 54#5965794f;
  box-shadow: 0 0 15px #5965794f;
}
.newdash_user_option1 {
  display: flex;
  gap: 10px;
}
.newdash_user_icon {
  width: 20px;
  line-height: 40px;
}

.newdash_user:hover .newdash_user_optionmain {
  display: block;
}
/* a Sidebar css here
a
a 
b
c
d
*/
.newdash_dash_main {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
}

.newdash_dash1 {
  padding-top: 20px;
  -webkit-box-shadow: 0 0 15px 54#5965794f;
  box-shadow: 0 0 15px #5965794f;
}

.newdash_dash1_cont1 {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 90%;
}
.newdash_dash1_cont1p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;

  width: 100%;
}
.newdash_dash1_cont2p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px 10px 0px 0px;

  width: 100%;
}
#newdash_dash1_cont1p {
  font-size: 14px;
  width: 90%;
}

#newdash_bar_ico {
  margin-right: 10px;
  font-size: 18px;
  color: #52b2e5;
}

#newdash_arrow {
  float: right;
  margin-left: 20px;
  font-weight: lighter;
}

.newdash_dash1_cont2 {
  color: white;
  background: #52b2e5;
  display: none;

  padding-left: 25%;
}

.newdash_dash1_cont2 p {
  line-height: 30px;
}
.newdash_dash1_cont1:hover .newdash_dash1_cont2 {
  display: block;
}

.newdash_dash1_cont1:hover p #newdash_arrow {
  transform: rotate(90deg);
}

.newdash_dash1_cont1:hover .newdash_dash1_cont1p {
  color: white;
  background: #2745f0;
}

.newdash_dash1_cont1:hover .newdash_dash1_cont2p {
  color: white;
  background: #2745f0;
}
.newdash_dash1_cont2 p:hover {
  text-decoration: underline;
}
