.ul_docathome_feat {
  margin-top: 10px;

  margin-left: 25%;

  height: 250px;
  color: grey;
}

.ul_docathome_feat li {
  width: 400px;
  float: left;
}

@media screen and (max-width: 1430px) {
  .ul_docathome_feat {
    margin-left: 40%;
    height: 520px;
  }
}

@media screen and (max-width: 600px) {
  .ul_docathome_feat {
    margin-left: 20%;
  }
}
