.formcompo_home {
  width: 100%;
  display: flex;
}

.docs {
  margin-top: 50px;
  width: 49%;
  z-index: 1000;
  position: absolute;
}

.docs .doc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bubble {
  position: relative;
  background: white;
  padding: 20px;
  color: black;
  border-radius: 5px;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bubble::after {
  display: block;
  position: absolute;
  left: -24px;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 25px solid white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.imag1 img {
  border-radius: 50%;
  object-fit: cover;
  height: 140px;
  width: 140px;
}

.doc-pop-description {
  padding-left: 20px;
}

#doc_name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

#doc_skill {
  font-weight: normal;
  font-size: 14px;
  color: #596579;
  line-height: 20px;
}

#doc_edu {
  font-weight: normal;
  font-size: 14px;
  color: #7b8698;
  line-height: 22px;
  margin-top: 10px;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  background: #e1f0ff;
}

#doc_exp {
  font-weight: bold;
  font-size: 16px;
  color: #596579;
  margin-top: -5px;
}

.clear-icon {
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
}
.clear-icon:hover {
  color: #596579;
}
.formcompo_datepicker .DatePicker {
  position: relative;
  z-index: 2;
  width: 100%;
}

.formcompo_datepicker .DatePicker .DatePicker__input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
}
.formcompo_datepicker .DatePicker__calendarContainer {
  position: absolute;
  top: 50px;
  margin: 0;
}
.formcompo_datepicker .DatePicker__calendarArrow {
  display: none;
}
.formcompo_home a:focus,
input:focus {
  border: 1px solid #ddd;
}
.formcompo_datepicker .DatePicker {
  width: 100%;
}
.home_not_logged_in_datepick .DatePicker {
  z-index: 2;
}
.home_not_logged_in_datepick .DatePicker .DatePicker__input {
  border-radius: 8px;
  height: 2.875rem;
  width: 100%;
  text-align: left;
}
.home_not_logged_in_datepick .DatePicker .DatePicker__calendarContainer {
  position: absolute;
  top: 50px;
}
.home_not_logged_in_datepick .DatePicker .DatePicker__calendarArrow {
  display: none;
}
.DatePicker {
  width: 100%;
}
.my-custom-input {
  padding: 0.875rem 1.375rem;
  width: 100%;
  border-radius: 8px;
}

.home-form-sel-serv .select-category {
  z-index: 4;
}

@media screen and (max-width: 700px) {
  .formcompo_home {
    flex-direction: column;
  }
  .docs {
    margin-top: 2px;

    margin-left: -2%;
    width: 100%;
  }
  .bubble::after {
    display: none;
  }
}
/* input#appointmentTime {
  display: inline-block;
  position: relative;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
} */
@media screen and (max-width: 900px) {
  .docs .doc {
    flex-direction: column;
  }
  .doc p {
    text-align: center;
  }
  .doc-pop-description {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.error-mssg {
  margin-top: 5px;
  font-size: 12px;
}
